# Ignore compiled object files
*.o

# Ignore final binaries
myprogram

# Ignore build output directories
#/obj/
#/bin/
/lib/

# Ignore temporary / backup files (from editors like nano, vim)
*~
*.swp
*.swo

# Ignore logs
*.log
